*{
    padding: 0;
    margin: 0;
    font-family: tahoma;
}
#banner{
    width: 100%;
    background: linear-gradient(rgba(0,0,0,.4),#009688),url(images/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.logo{
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;
    cursor: pointer;
}
 .banner-text{
     text-align: center;
     color: #fff;
     padding-top: 180px;
 }
 .banner-text h1{
     font-size: 130px;
 }
 .banner-text p{
     font-size: 20px;
     font-style: italic;
 }
 .banner-btn{
     margin: 70px auto  0;
 }
 .banner-btn a{
     width: 150px;
     text-decoration: none;
     display: inline-block;
     margin: 0 10px;
     padding: 12px 0;
     color: #fff;
     position: relative;
     z-index: 1;
     transition: color .5s;
     border-radius: 5px;
 }
 .banner-btn a span{
     width: 100%;
     height: 0;
     background: #fff;
     position: absolute;
     bottom: 0;
     left: 0;
     z-index: -1;
     transition: .5s;
     border-radius: 5px;
 }
 .banner-btn a:hover {
     color: #000;
 }
 .banner-btn a:hover span{
     height: 100%;
 }

#sideNav{
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: fit-content;
    background: rgba(0,0,0,.4);
    z-index: 10;
    border-radius: 0 0 10px 10px;
    visibility: hidden;
    /* display: none; */
}
nav{
    margin-top: 20px;
    /* display: none; */
}
nav ul li{
    list-style: none;
    float: left;

}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 15px  20px;
    width: 130px;
    display: inline-block;
    transition: .5s;
    text-align: center;
    color: #009688;
}
nav ul li a:hover{
    background: #fff;
    color: #000;
}

#menuBtn p{
    color: blue;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}
#menuBtn{
    background: #fff;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    z-index: 11;
    margin-bottom: 20px;
    position: fixed;
    top: 15px;
    right: 40px;
    width: 50px;
    height: 50px;
    display: inline-block;
}
#menuBtn:hover #sideNav{
    visibility: visible;
}
/* #menuBtn:hover #sideNav{
    display: block;
} */
 /* Features */
#features{
    width: 100%;
    padding: 70px 0;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    color: #009688;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text h1{
    font-size: 50px;
}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#009688,#fff);   
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1; 
    transform: rotate(12deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;

}
.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features{
    flex-basis: 50%;
}
.features-img{
    flex-basis: 50%;
    margin: auto;
}
.features-img img{
    width: 70%;
    border-radius: 12px;
}
.features h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;
}
.features-dsc{
    display: flex;
    margin-bottom: 20px;
}
.feature-icon .fa{
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: #009688;
    border: 1px solid #009688;
    line-height: 50px;
    border-radius: 8px;
}
.feature-text p{
    padding: 0 20px;
    text-align: initial;
}
/* service */
#service{
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}
.service-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.single-service{
    flex-basis: 42%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff ;
    position: relative;
}
.single-service img{
    width:100% ;
    border-radius: 7px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,.4),#009688);
    opacity: 0;
    transition: 1s;
}
.single-service:hover .overlay{
    opacity: 1;
}
.service-dsc{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: 1s;
}
hr{
    background: #fff;
    height: 2px;
    border-radius: 0;
    margin: 15px auto;
    width: 605;
}
.service-dsc p{
    font-size: 14px;

}
.single-service:hover .service-dsc{
    bottom: 40%;
    opacity: 1;
}

/* testimonial */
#testimonial{
    width: 100%;
    padding: 70px 0;
}
.testimonial-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

}
.testimonial-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #009688;
    cursor: pointer;
    transition: transform .5s;
}
.testimonial-col p{
    font-size: 14px;
}
.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.user-info .fa{
    margin-left: 10px;
    color: #27c0ff;
    font-size: 20px;
}
.user-info small{
    color: #009688;
}
.testimonial-col:hover{
    transform: translateY(-7px);
}

/* footer */
#footer{
    padding: 100px 0 20px;
    background: #efefef;
    position: relative;
}
.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left,  .footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-right{
    text-align: right;
}
.footer-row h1{
    margin: 10px 0;
}
.footer-row p{
    line-height: 35px;
}
.footer-left .fa,  .footer-right .fa{
    font-size: 20px;
    color: #009688;
    margin: 10px;
}
.footer-img{
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
    z-index: -1;
}
.social-links{
    text-align: center;

}
.social-links .fa{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #009688;
    margin: 40px 5px 0;
    color: #009688;
    cursor: pointer;
    transition: .5s;
    border-radius: 5px;
}
.social-links .fa:hover{
    background: #009688;
    color: #fff;
    transform: translateY(-7px);
}
.social-links p{
    font-size: 12px;
    margin-top: 20px;
}